@font-face {
    font-family: 'Cobra';
    src: url(DeadStock.ttf);
}

:root {
    font-family: 'Courier New', Courier, monospace;
}

::selection {
    background-color: yellow;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: yellow;
}

* {
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: yellow;
    text-align: center;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/* Links */

a {
    text-decoration: none;
}

/* Section */

section {
    width: 100%;
    position: relative;
    overflow: auto;
    /* background-color: red; */
}

section#hero {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:not(#hero) {
    padding-bottom: 50px;
}

section > .section-bkg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.section-bkg > img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0.3) saturate(0);
}

section > header {
    text-transform: capitalize;
    font-family: 'Cobra';
    font-size: min(15vw, 20vh);
}

section#hero > header {
    user-select: none;
    font-size: min(30vw, 25vh);
}

section:not(#hero) > header {
    margin: 1em 0 0.5em 0;
}

section > .content {
    text-align: justify;
    color: whitesmoke;
    font-size: 1.5rem;
    /* background-color: rgba(255, 255, 255, 0.1); */
    padding: 1em;
}

/* Carousel */

.carousel {
    /* background-color: aqua; */
    height: auto;
    overflow-x: hidden;
}

.carousel > .showcase {
    position: relative;
    /* background-color: red; */
    white-space: nowrap;
    height: fit-content;
    --space: 12.5%;
    padding: 10px var(--space);
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--space);
}

.showcase::-webkit-scrollbar {
    display: none;
}

.showcase > .card {
    --off: 30px;
    clip-path: polygon(0 0, calc(100% - var(--off)) 0, 100% var(--off), 100% 100%, var(--off) 100%, 0 calc(100% - var(--off)));
    height: 100%;
    scroll-snap-align: start;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    padding-bottom: 0;
    /* color: black; */
    background-color: yellow;
    width: 100%;
}

.showcase > .card:not(:last-of-type) {
    margin-right: 15px;
}

.card > .card-img {
    clip-path: polygon(0 0, calc(100% - var(--off)) 0, 100% var(--off), 100% 100%, 0 100%);
    aspect-ratio: 1 / 1;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card > .content {
    padding: 1em 0;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    white-space: normal;
}

.carousel > .indicators {
    margin: 10px 0;
    display: flex;
    height: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0 25%;
    align-items: center;
}

.indicators > .signal {
    height: 100%;
    width: 100%;
    background-color: yellow;
    opacity: 0.33;
}

.indicators > .signal:first-of-type {
    opacity: 1;
}

/* Icon Drawer */

.icon-drawer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10%;
    gap: 25px 0;
}

.icon-drawer > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-drawer img {
    filter: saturate(2) brightness(1);
    width: 100px;
    aspect-ratio: 1 / 1;
}

@media (min-width: 1024px) {
}